.title-slide {
  background-image: url(img/fundo-ipe-junto.png) !important;
  background-size: 110% 95%;
  background-position-y: top;
  background-color: 'blue';
}
body > div.remark-slides-area > div.remark-slide-container.remark-visible > div.remark-slide-scaler > div > div > div.title {
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}

body > div.remark-slides-area > div.remark-slide-container.remark-visible > div.remark-slide-scaler > div > div > div.subtitle {
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.remark-slide-content {
  color: white;
  
}